$container: 1200px; // container
$tablet: 992px; // tablet
$tablet-sm: 768px; // tablet small
$medium: 560px; // between tablet and mobile
$mobile: 425px; // mobile
$mobile-sm: 375px; // mobile small
$mobile-m: 320px; // mobile micro