@use "@/scss/breakpoints";

.image {
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 4px;
	max-width: 96px;
}

.wrapper {
	display: flex;
	align-items: center;
	gap: 16px 32px;

	@media (max-width: breakpoints.$tablet) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.title {
	font-weight: 600;
	flex-basis: 100%;
	// flex-grow: 1;
	// flex-shrink: 0;
	display: block;
}

.link {
	display: flex;
	align-items: center;
	gap: 32px;
	flex-grow: 1;

	@media (max-width: breakpoints.$tablet) {
		flex-basis: 100%;
	}
}

.input {
	width: 100px;

	@media (max-width: breakpoints.$tablet) {
		text-align: center;
	}
}

.price {
	width: 170px;

	@media (max-width: breakpoints.$tablet) {
		text-align: center;
	}
}

.info {
	display: flex;
	align-items: center;
}